In [1]:
import pandas as pd

In [2]:
datatxt = pd.read_table('C://Users//youse//Desktop//NEW.txt')

In [3]:
datatxt.head()

     Ahmed,01060416000,Ahmed@gmail.com
0    Nader,01101256432,Nader@gmail.com
1  Mahmoud,01511111567,Houda@gmail.com

In [19]:
text_to_search='''Ahmed,01060416000,Ahmed@gmail.com
Ali,01101256432,Ali@gmail.com
Adel,01511111567,Adel@gmail.com
'''

In [21]:
pattern=re.compile("A\w+") 
matches=pattern.finditer(text_to_search) 
for i in matches:
    print(i)

<re.Match object; span=(0, 5), match='Ahmed'>
<re.Match object; span=(18, 23), match='Ahmed'>
<re.Match object; span=(34, 37), match='Ali'>
<re.Match object; span=(50, 53), match='Ali'>
<re.Match object; span=(64, 68), match='Adel'>
<re.Match object; span=(81, 85), match='Adel'>

In [22]:
pattern=re.compile("\d{11}") 
matches=pattern.finditer(text_to_search) 
for i in matches:
    print(i)

<re.Match object; span=(6, 17), match='01060416000'>
<re.Match object; span=(38, 49), match='01101256432'>
<re.Match object; span=(69, 80), match='01511111567'>

In [23]:
pattern=re.compile(r'[a-zA-Z0-9-.]+@[a-zA-Z]+\.[a-zA-Z0-9-.]+') 
matches=pattern.finditer(text_to_search) 
for i in matches:
    print(i)

<re.Match object; span=(18, 33), match='Ahmed@gmail.com'>
<re.Match object; span=(50, 63), match='Ali@gmail.com'>
<re.Match object; span=(81, 95), match='Adel@gmail.com'>